# Domain name that points to the web server
API_DOMAIN_NAME="http://localhost:3030"

# Server address to send contact form posts
CONTACT_FORM_API="/contact"
# Server address to send checkout form posts
CHECKOUT_API="/checkout"
# Server address to get list of products
PRODUCT_API="/products"
# Server address to send errors from client
ERROR_API="/error"
# Server address get and send light schedule information
LIGHT_SCHEDULE_API="/lights"

# Links used in contact info section
GITHUB_LINK="https://github.com"
LINKEDIN_LINK="https://linkedin.com"
EMAIL_ADDRESS="person@gmail.com"

# reCAPTCHA key
# Test key - See https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha.-what-should-i-do
RECAPTCHA_SITE_KEY="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_testkey"

# Authentication token for AWS Lambda access to light schedule API
AWS_LIGHTS_SECRET_TOKEN = "my_secret_token"
# Authentication token for AWS Lambda access to logging API
AWS_LOGGING_SECRET_TOKEN = "my_secret_token"
# The OpenID Connect authority URL from AWS Cognito
AWS_COGNITO_AUTHORITY = "https://my_cognito_authority.com"
# The client ID registered with AWS Cognito
AWS_COGNITO_CLIENT_ID = "my_cognito_client_id"
# The domain registered with the Cognito Pool
AWS_COGNITO_DOMAIN = "https://your-domain.auth.region.amazoncognito.com"